[submodule "Core"]
	path = Kube/Core
	url = git@github.com:Kube-Engine/Core.git
[submodule "Meta"]
	path = Kube/Meta
	url = git@github.com:Kube-Engine/Meta.git
[submodule "Graphics"]
	path = Kube/Graphics
	url = git@github.com:Kube-Engine/Graphics.git
[submodule "App"]
	path = Kube/App
	url = git@github.com:Kube-Engine/App.git
[submodule "Interpreter"]
	path = Kube/Interpreter
	url = git@github.com:Kube-Engine/Interpreter.git
[submodule "Kube/ECS"]
	path = Kube/ECS
	url = git@github.com:Kube-Engine/ECS.git
[submodule "Flow"]
	path = Kube/Flow
	url = git@github.com:Kube-Engine/Flow.git
[submodule "Kube/Object"]
	path = Kube/Object
	url = git@github.com:Kube-Engine/Object
[submodule "Kube/UI"]
	path = Kube/UI
	url = git@github.com:Kube-Engine/UI
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Kube/Widgets"]
	path = Kube/Widgets
	url = git@github.com:Kube-Engine/Widgets.git
[submodule "Kube/Voxel"]
	path = Kube/Voxel
	url = git@github.com:Kube-Engine/Voxel.git
[submodule "Kube/Audio"]
	path = Kube/Audio
	url = git@github.com:Kube-Engine/Audio.git
