[submodule "Core"]
	path = Kube/Core
	url = git@github.com:Kube-Engine/Core.git
[submodule "Meta"]
	path = Kube/Meta
	url = git@github.com:Kube-Engine/Meta.git
[submodule "Graphics"]
	path = Kube/Graphics
	url = git@github.com:Kube-Engine/Graphics.git
[submodule "App"]
	path = Kube/App
	url = git@github.com:Kube-Engine/App.git
[submodule "Interpreter"]
	path = Kube/Interpreter
	url = git@github.com:Kube-Engine/Interpreter.git
[submodule "Kube/ECS"]
	path = Kube/ECS
	url = git@github.com:Kube-Engine/ECS.git
[submodule "Flow"]
	path = Kube/Flow
	url = git@github.com:Kube-Engine/Flow.git
